html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  
  
}

.nav {
  color: #002d62 !important;
}




.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  
}

.note-textarea, .note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
  
  
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
 background-color: #6a8347;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%236a8347' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23759148' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23809f48' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%238cae48' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2399bc47' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23a6cb45' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  
}

.list-container {
  padding-left: 0;
  
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}
